ADMIN_JWT_SECRET=сгенерируй_через_openssl_rand_hex_32
ADMIN_JWT_ALGORITHM=HS256
ADMIN_ACCESS_TOKEN_EXPIRE_MINUTES=60

BOOTSTRAP_ADMIN_USERNAME=mainadmin
BOOTSTRAP_ADMIN_PASSWORD=поставь_свой_пароль

DATA_SOURCE=db
DATABASE_URL=postgresql+psycopg://USER:PASSWORD@127.0.0.1:5432/DBNAME

CORS_ORIGINS=http://localhost:5173
